.custom-banner-logo {
    max-width: 100px;
}


.ui-datatable .ui-datatable-header {
    text-align: right !important;
}

.ui-menuitem.ui-widget.ui-corner-all:last-child {
    float: right;
}

.noHeader.ui-datatable table thead tr {
    display: none;
}
